<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Уважаемый закзчик!</h1>
    <p>Вы заказали билеты на поезда железной дороги.</p>
  </body>
</html>
