<h4>Поезд <%= part_track.first[1][:name] %> - <%= part_track[part_track.keys.last][:name] %></h4>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Станция</th>
        <th>Время прибытия</th>
        <th>Время стоянки</th>
        <th>Время отправления</th>
        <th>Расстояние</th>
      </tr>
    </thead>
    <tbody>
      <% part_track.each_value do |point_shedule| %>
        <%= render 'train_shedule_row', point_shedule: point_shedule %>
      <% end %>
    </tbody>
  </table>
</div>
</br>
