<div class="page-header">
  <h1>Список заказов</h1>
</div>
<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>№ заказчика</th>
            <th>Начальная станция</th>
            <th>Конечная станция</th>
            <th>Дата</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @orders %>
        </tbody>
      </table>
    </div>
  </div>
</div>
