<div class="page-header">
  <h1>Рассписание <%= point_name(@point_reference.point) %></h1>
</div>
<div class="container">
  <div class="row">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="2">Маршрут</th>
            <th>Время прибытия</th>
            <th>Время стоянки</th>
            <th>Время отправления</th>
          </tr>
        </thead>
        <tbody>
          <% @point_shedule.each do |shedule| %>
            <%= render 'shedule_row', shedule: shedule %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
